In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/World_population"

In [3]:
tables = pd.read_html(url)

In [4]:
len(tables)

26

In [6]:
tables[0]

        World population (millions, UN estimates)[14]  \
                                                    #
0                                                   1
1                                                   2
2                                                   3
3                                                   4
4                                                   5
5                                                   6
6                                                   7
7                                                   8
8                                                   9
9                                                  10
10                                                NaN
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                      Top ten most populous countries
0                                            China[B]
1                                               India
2                                       United States
3                                           Indonesia
4                                            Pakistan
5                                              Brazil
6                                             Nigeria
7                                          Bangladesh
8                                              Russia
9                                              Mexico
10                                        World total
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2000
0                                                1270
1                                                1053
2                                                 283
3                                                 212
4                                                 136
5                                                 176
6                                                 123
7                                                 131
8                                                 146
9                                                 103
10                                               6127
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2015
0                                                1376
1                                                1311
2                                                 322
3                                                 258
4                                                 208
5                                                 206
6                                                 182
7                                                 161
8                                                 146
9                                                 127
10                                               7349
11  Notes: .mw-parser-output .reflist{font-size:90...


                                              2030[A]
0                                                1416
1                                                1528
2                                                 356
3                                                 295
4                                                 245
5                                                 228
6                                                 263
7                                                 186
8                                                 149
9                                                 148
10                                               8501
11  Notes: .mw-parser-output .reflist{font-size:90...